site_name: Tiaki News
site_url: https://tiaki.pages.dev


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences


theme:
  name: material

  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    accent: blue

  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    accent: blue

  font:
    text: Ubuntu

  features:
    # nav features
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - toc.follow

extra_css:
  - assets/stylesheets/extra.css
