site_name: Tiaki News
site_url: https://tiaki.pages.dev

theme:
  name: material

  palette:
    scheme: dark
    accent: blue

  font:
    text: Ubuntu

  features:
    # nav features
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.top
    - toc.follow

extra_css:
  - assets/stylesheets/extra.css